[defaults]
# inventory = {{CWD}}/inventory
# host_key_checking = false
# force_color = true
# deprecation_warnings = false
# interpreter_python = auto_silent
ssh_args = -o StrictHostKeyChecking=accept-new
